{%extends 'quiz/base.html' %}
{%block body%}
<div class="jumbotron">

<!--<h1>hi {{username}}</h1>-->

<div id="main">
<form action="{% url 'quiz:index' question.id  %}" method="POST">
{% csrf_token %}
<label id="question">{{question.question_text}}</label><br>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for choice in question.choice_set.all %}

<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.choice_text}}" {% if choice.choice_text == saved_choice %} checked {%endif%}>&nbsp<label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>

{%endfor%}
<BR>
<BR>


{% if question.id != first_question %}
<button class="btn btn-dark" type="submit"  name='nav' value="previous"><span class="glyphicon glyphicon-chevron-left"></span>PREVIOUS</button>

{%endif%}

{% if question.id == last_question %}

<button class="btn btn-dark" type="submit"  name='nav' value="submit">SUBMIT <span class="glyphicon glyphicon-ok-sign"></span></button>

{% else %}
<button class="btn btn-dark" type="submit"  name='nav' value="next">NEXT<span class="glyphicon glyphicon-chevron-right"></span></button>
{%endif%}
</form>
</div>

</div>
<!--end of jumbotron -->
<div id="palette">

{% for q in selections %}
{% if q.selected %}
<div class="selected round">{{ forloop.counter }}</div>			
{%else%}
<div class="unselected round">{{ forloop.counter }}</div>			

{%endif%}

{%endfor%}	
</div>


{% endblock %}