{%extends 'quiz/base.html' %}
{%block body%}

<h1>hi {{username}}</h1>

<div id="main">
<form action="{% url 'quiz:index' question.id  %}" method="POST">
{% csrf_token %}
<label>{{question.question_text}}</label><br>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for choice in question.choice_set.all %}

<label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.choice_text}}" {% if choice.choice_text == saved_choice %} checked {%endif%}><br>

{%endfor%}

{% if question.id != first_question %}
<input type="submit" value="previous" name='nav'>

{%endif%}

{% if question.id == last_question %}
<input type="submit" value="submit" name='nav'>
{% else %}
<input type="submit" value="next" name='nav'>
{%endif%}
</form>
</div>

<div id="container">

{% for q in selections %}
{% if q.selected %}
<div class="selected">{{ forloop.counter }}</div>			
{%else%}
<div class="unselected">{{ forloop.counter }}</div>			

{%endif%}

{%endfor%}	
</div>

{% endblock %}