
#main{

	border: none;
		
}
.round
{
		border-radius: 50% 50%; 
}

#question{

	font-family: 'Source Code Pro', monospace;
}	

#palette{

height:100px;
}
.unselected{

display:inline-block;
width:30px;
height:30px;
text-align: center;
padding:5px 0 10px 0;
background-color:#ff4d4d;
}
.selected{
display:inline-block;
width:30px;
height:30px;
text-align: center;
padding:5px 0 10px 0;
background-color:#4dffa6;
}

